!!!
:ruby
  def render(partial, args = {})
    engine = Haml::Engine.new(File.read(partial))
    engine.render(Object.new, args)
  end
%html{ lang: "en" }
  %head
    %title Extra Services | La Kaz Bourbon
    = render('app/partials/_head.haml')
  %body
    = render('app/partials/_widget-scroll.haml')
    = render('app/partials/_navbar.haml')
    .page-header{ style: "background-image: url('assets/img/backgrounds/page_header_extraservices.jpg');" }
      %h1 Extra Services
    .extra-services
      %p Lorem ipsum dolor sit amet, consectetus adipiscing elit. Phasellus quis ligula nisl. Integer leo odio, fermentum et consequat quis, ullamcorper sit amet arcu. Aliquam vestibulum efficitur ante, sit amet pharetra eros hendrerit facilisis. Phasellus sit amet nisl in massa eleifend rhoncus. Donec a porttitor diam, eget blandit felis.
      .extra-services-grid
        .extra-service-item
          %img{ src: "http://i.imgur.com/TvA55V4.png" }
          .extra-service-item-text
            %h3 French Lessons
            %p Lorem ipsum dolor sit amet, consectetus adipiscing elit. Phasellus fringilla luctus.
        .extra-service-item
          %img{ src: "http://i.imgur.com/VupgyXr.png" }
          .extra-service-item-text
            %h3 Relaxing Massage
            %p Lorem ipsum dolor sit amet, consectetus adipiscing elit. Phasellus fringilla luctus.
        .extra-service-item
          %img{ src: "http://i.imgur.com/faqnoGv.png" }
          .extra-service-item-text
            %h3 Car Rental
            %p Lorem ipsum dolor sit amet, consectetus adipiscing elit. Phasellus fringilla luctus.
        .extra-service-item
          %img{ src: "http://i.imgur.com/1qV15CD.png" }
          .extra-service-item-text
            %h3 Tours
            %p Lorem ipsum dolor sit amet, consectetus adipiscing elit. Phasellus fringilla luctus.
        .extra-service-item
          %img{ src: "http://i.imgur.com/2CGhapD.png" }
          .extra-service-item-text
            %h3 Private Chef
            %p Lorem ipsum dolor sit amet, consectetus adipiscing elit. Phasellus fringilla luctus.
        .extra-service-item
          %img{ src: "http://i.imgur.com/FkF0SsH.png" }
          .extra-service-item-text
            %h3 Yoga
            %p Lorem ipsum dolor sit amet, consectetus adipiscing elit. Phasellus fringilla luctus.
        .extra-service-item
          %img{ src: "http://i.imgur.com/iWMo6Xv.png" }
          .extra-service-item-text
            %h3 Personal Trainer
            %p Lorem ipsum dolor sit amet, consectetus adipiscing elit. Phasellus fringilla luctus.
        .extra-service-item
          %img{ src: "http://i.imgur.com/NsubYAw.png" }
          .extra-service-item-text
            %h3 Groceries
            %p Lorem ipsum dolor sit amet, consectetus adipiscing elit. Phasellus fringilla luctus.
    = render('app/partials/_contact-form.haml')
    .mb-5     
    = render('app/partials/_footer.haml')
    = render('app/partials/_scripts.haml')
