!!!
:ruby
  def render(partial, args = {})
    engine = Haml::Engine.new(File.read(partial))
    engine.render(Object.new, args)
  end
%html{ lang: "en" }
  %head
    %title Latest News | La Kaz Bourbon
    = render('app/partials/_head.haml')
  %body
    = render('app/partials/_navbar.haml')
    .news-container
      .section-title
        %h1 Latest News
      %ul.nav.nav-tabs{role: "tablist"}
        %li.nav-item{role: "presentation"}
          %button.nav-link.active{id: "all-news-tab", "aria-controls" => "all-news", "aria-selected" => "true", "data-bs-target" => "#all-news", "data-bs-toggle" => "tab", role: "tab", type: "button"} All News
        %li.nav-item{role: "presentation"}
          %button.nav-link{id: "lifestyle-tab", "aria-controls" => "lifestyle", "aria-selected" => "false", "data-bs-target" => "#lifestyle", "data-bs-toggle" => "tab", role: "tab", type: "button"} Lifestyle
        %li.nav-item{role: "presentation"}
          %button.nav-link{id: "food-tab", "aria-controls" => "food", "aria-selected" => "false", "data-bs-target" => "#food", "data-bs-toggle" => "tab", role: "tab", type: "button"} Food
        %li.nav-item{role: "presentation"}
          %button.nav-link{id: "travel-tab", "aria-controls" => "travel", "aria-selected" => "false", "data-bs-target" => "#travel", "data-bs-toggle" => "tab", role: "tab", type: "button"} Travel
        %li.nav-item{role: "presentation"}
          %button.nav-link{id: "la-reunion-tab", "aria-controls" => "la-reunion", "aria-selected" => "false", "data-bs-target" => "#la-reunion", "data-bs-toggle" => "tab", role: "tab", type: "button"} La Réunion
      .tab-content
        .tab-pane.fade.show.active{id: "all-news", "aria-labelledby" => "all-news-tab", role: "tabpanel"}
          .blog-grid
            .blog-card.one-column
              .blog-card-img
                %img{ src: "assets/img/news/latest_news_big.jpg", alt: "Loremp ipsum" }
                .blog-card-info
                  %span.info-category lifestyle
                  %h4 “Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vitae magna nibh. Aliquam erat volutpat.”
                  %span.info-date January 7, 2020
            - 6.times do |x|
              .blog-card.three-columns
                .blog-card-img
                  %img{ src: "assets/img/news/latest_news_#{x + 1}.jpg", alt: "Loremp ipsum" }
                  .blog-card-date
                    %span NOV 20
                .blog-card-text
                  %h4 “Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sed justo odio.”
                  %span en.reunion.fr
        .tab-pane.fade{id: "lifestyle", "aria-labelledby" => "lifestyle-tab", role: "tabpanel"}
          %p ...
        .tab-pane.fade{id: "food", "aria-labelledby" => "food-tab", role: "tabpanel"}
          %p ...
        .tab-pane.fade{id: "travel", "aria-labelledby" => "travel-tab", role: "tabpanel"}
          %p ...
        .tab-pane.fade{id: "la-reunion", "aria-labelledby" => "la-reunion-tab", role: "tabpanel"}
          %p ...
    = render('app/partials/_footer.haml')
    = render('app/partials/_scripts.haml')
